

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Stock Pocket</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/people/{{ pk }}/">Home</a></li>
            <li><a href="/people/{{ pk }}/add/">Add</a></li>
            <li><a href="/people/{{ pk }}/update/">Update</a></li>
            <li><a href="/people/{{ pk }}/delete/">Delete</a></li>
            <li><a href="/people/{{ pk }}/detail/">Detail</a></li>
        </ul>
    </div>
</nav>





